---
layout: default
---

<main class="content" role="main">
    <div class="cf frame">
        {% for post in paginator.posts %}
            <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
                <div class="article-item">
                    <header class="post-header">
                        <h1 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h1>
                        <div class="post-meta">
                            <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
                            {% for tag in post.tags %}
                                {% for my_page in site.pages %}
                                    {% if my_page.tag and my_page.tag == tag %}
                                        &bull; <a href="{{ my_page.url }}">{{tag}}</a>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </header>
                    <section class="post-excerpt" itemprop="description">
                        <p>{{ post.excerpt }}</p>
                        {% assign excerpt_length = post.excerpt | size %}
                        {% assign content_length = post.content | size %}

                        {% if excerpt_length != content_length %}
                            <a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">Read more</a>
                        {% endif %}
                    </section>
                </div>
            </article>
        {% endfor %}
    </div>

    <nav class="pagination" role="navigation">
        {% if paginator.next_page %}
            <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">&larr; Older posts</a>
        {% else %}
            <a class="newer-posts disabled">&larr; Older posts</a>
        {% endif %}
        <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.previous_page %}
            {% if paginator.page == 2 %}
                <a class="older-posts" href="{{ site.baseurl }}/">Newer posts &rarr;</a>
            {% else %}
                <a class="older-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer posts &rarr;</a>
            {% endif %}
        {% else %}
            <a class="older-posts disabled">Newer posts &rarr;</a>
        {% endif %}
    </nav>


{% include footer.html %}
</main>
