@import 'bourbon/bourbon';
@import 'syntax-highlighting';

body {
    background-color: #f8f8f8;
    font-family: "Helvetica Neue", "Open Sans", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/* For mobile phones: */
aside {
    width: 100%;

    background-color: #444;
    color: #f8f8f8;
    text-align: center;

    padding-bottom: 20px;

    div {
        amp-img {
            border-radius: 10%;
        }
    }
    
    a {
        color: #f8f8f8;

        &:hover {
            text-decoration: underline;
        }
    }

    h1.blog-title {
        margin-bottom: 8px;
        font-size: 3em;
        font-weight: 700;
        letter-spacing: -2px;
        outline: 0;
        line-height: 50px;
        word-break: break-word;
        color: #333333;
    }

    h2 {
        font-weight: 300;
    }
}

main {
    a {
        text-decoration: none;
        color: #0050AA;

        &:hover, {
            color: #3081ff;
        }
    }

    article .post-title {
        margin-bottom: 0;
    }

    article h2.post-subtitle {
        margin-top: -5px;
        margin-bottom: 0;
        font-size: 0.8em;
        font-style: italic;
    }
    
    article .post-meta {
        margin-top: -5px;
        font-size: 0.8em;
    }

    article.post {
        margin: 0 2.5%;

        letter-spacing: -0.02em;
        font-weight: 300;
        font-style: normal;
        font-size: 20px;
        line-height: 1.5;
        color: #666665;

        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }

    nav {
        margin: 0 2.5%;
    }
}

.site-footer {
    margin: 20px 2.5%;
}

.disabled {
    display: none;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    aside {
        position: fixed;
        left: 0;
        
        min-width: 250px;
        width: 25%;
        height: 100%;

        background-color: #404040;
    }

    aside div {
        padding: 40px 20px;
    }

    main {
        position: absolute;
        top: 0;
        left: 30%;
        width: 65%;

        padding: 0 40px;

        .post {
            max-width: 800px;
        }
    }
}