---
layout: default
---
<main class="content" role="main">
    <article class="post">
        <header class="post-header">
            <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
            <div class="post-meta">
                <time datetime="{{ page.date | date_to_long_string }}">{{ page.date | date_to_long_string }}</time>
                {% for tag in page.tags %}
                    {% for my_page in site.pages %}
                        {% if my_page.tag and my_page.tag == tag %}
                            &bull; <a href="{{ my_page.url }}">{{tag}}</a>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </header>

        <section class="post-content">
            <a name="topofpage"></a>
            {{content}}
        </section>
        <footer class="post-footer">
            <section class="share">
                <a class="icon" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.id }}&text={{page.title | cgi_escape}}&via={{ site.twitter_username }}" target="_blank">
                Share on <i class="fa fa-twitter"></i>
                </a>
            </section>
        </footer>
    </article>
        
    {% include footer.html %}
</main>
